.sidebar {
  background-color: var(--gray-800);
  border-radius: var(--br-default);
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 72px;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: calc(0px - 1.5rem - 6px);
}

.profile strong {
  margin-top: 1rem;
  color: var(--gray-100);
  line-height: var(--lh-default);
}

.profile span {
  font-size: var(--fs-small);
  color: var(--gray-400);
  line-height: var(--lh-default);
}

.sidebar footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
  width: 100%;
  background: transparent;
  color: var(--green);

  border: 1px solid var(--green);
  border-radius: var(--br-default);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  height: 50px;
  padding: 0 1.5rem;
  font-weight: bold;

  text-decoration: none;

  transition: all 0.2s ease;
}

.sidebar footer a:hover {
  background-color: var(--green);
  color: var(--white);
}